

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img class="logo" src="images/logo-CfDx900.png" alt="Code for Denver" />
        <h1>Project Bootstrapper</h1>
        <br>
        <a href="#steps" class="btn btn-light btn-lg">Create New Project</a>
    </div>
</header>

<!-- Create -->
<section id="create" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Let us help you structure your weekend.</h2>
                <p class="lead">We'll build you a board in Waffle.io with cards for each action you should do to be successful this weekend.</p>
            </div>

            <div class="col-lg-12 text-center">
                <img src="images/attendee-board.png"/>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Steps -->
<section id="steps" class="steps bg-primary" ng-controller="StepsController as steps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Want to give it a shot? Do these 2 steps, it takes 60 seconds.</h2>
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3 class="list-title">1. Login/Signup for Waffle</h3>
                            <i class="fa fa-check-circle-o checkmark" ng-show="steps.session()"></i>
                            <div class="list-content">
                                <div ng-show="steps.session()" class="welcome-text">Hi {{steps.session().username}}, now onto Step 2!</div>
                                <div ng-hide="steps.session()">
                                    <a class="btn btn-primary btn-lg" href="/auth/waffle" target="_self" role="button">Login/Signup for Waffle</a>
                                    <span class="login-text">The project bootstrapper will request permission to access your Waffle account.</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-class="{disabled: !steps.session()}">
                            <h3 class="list-title">2. Create your new Code for Denver project</h3>
                            <i class="fa fa-check-circle-o checkmark project-checkmark" ng-show="steps.projectCreated"></i>
                            <div class="list-content" ng-show="steps.session()">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="project-name" class="project-label">{{steps.session().username}} /</label>
                                        <input type="text" class="form-control" id="project-name" placeholder="name your project" ng-model="name">
                                        <button class="btn btn-success create-btn" ng-click="steps.createProject({name: name, type: 'attendee'})" ng-class="{disabled: steps.loading}">Create my project</button>
                                        <i class="fa fa-spinner loading-spinner" ng-show="steps.loading"></i>
                                        <span class="project-error error" ng-show="steps.failure">Uh oh, your project couldn't be created.<pre>{{steps.failure | json}}</pre></span>
                                    </div>
                                </form>
                                <p class="project-text">Upon project creation, we will create a GitHub repo and a Waffle project with the name you choose. Then will autopopulate your board with issues.</p>
                                <div class="project-success" ng-show="steps.projectCreated">
                                    <h3>Woohoo! Your new Code for Denver project has been created at <a href="https://waffle.io/{{steps.project.name}}">https://waffle.io/{{steps.project.name}}</a></h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.row (nested) -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><a href="https://github.com/waffleio/hackshop">An open source project forked from Waffle.io's Hackshop</a></h4>

                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/codefordenver/project-bootstrapper"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/codefordenver"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="jquery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>
