doctype html
html(lang="en" ng-app="hackshop")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")

    title= title

    link(href="bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/stylish-portfolio.css", rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic", rel="stylesheet", type="text/css")
  
    script(src="angular/angular.min.js")
    script(src="javascripts/hackshop.js")
    script(src="lodash/lodash.min.js")

    script.
        var Application = Object.freeze({
            session: !{JSON.stringify(session) || 'undefined'}
        });
  body
    block content